<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="/leaf.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/master.css">
    <link rel="stylesheet" href="/styles/events.css">
  </head>






<body>

  <div id="Title">
    <h1> Serve Up, Speak Up<img id="plant" src="/media/logo.png">
    </h1>
  </div>
 <div id="Home" class="menu">
      <h3> <a href= "/welcome"> Home </a> </h3>
   </div>
 <div id="Events" class="menu">
      <h3> <a href= "/events"> Events </a></h3>
   </div>
 <div id="News" class="menu">
      <h3> <a href= "/news">News </a> </h3>
   </div>
 <div id="Service" class="menu">
      <h3> <a href= "/service"> Volunteer </a> </h3>
   </div>
    <div id="Reps" class="menu">
      <h3><a href= "/representatives"> Representatives </a> </h3>
   </div>
    <div id="User">
      <h3><img class="plant_logo" src="media/plant.png"> Signed in as: {{username}} <img class="plant_logo" src="media/plant.png"></h3>
      <a href="{{signout_link}}">Sign Out</a>
   </div>
  <div id="Content">

    <h1 class="title">Events</h1>

    <iframe src="https://www.resistancecalendar.org/" height=800px width=80%></iframe>
    <a class="twitter-timeline" href="https://twitter.com/serveup_speakup/lists/become-involved?ref_src=twsrc%5Etfw" height=700px width=40%>A Twitter List by serveup_speakup</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


   </div>
  <div id="Content_left">
    </div>
  <div id="Content_right">
    </div>
<div id="Footer"> <p>Copyright © 2018</p> <p>(▀̿Ĺ̯▀̿ ̿) Alejandro's Angels (▀̿Ĺ̯▀̿ ̿)</p> <p id="names"><a href="https://www.linkedin.com/in/donovan-evangelio-aa9b53168">Donovan Evangelio</a>, <a href="https://www.linkedin.com/in/elise-sawan">Elise Sawan</a>, <a href="https://www.linkedin.com/in/keziahr/">Keziah Rezaey</a></p></div>


<script src="/scripts/welcome.js"></script>

</body>



</html>
