<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/media/favicon.ico?v1">
    <link rel="stylesheet" href="/styles/login.css">
    <title></title>
  </head>
  <body>
    <div class="content">
      {%if email_address%}
        <form method="post" action="/">
          <p id="welcome_line">Welcome to our site, {{email_address}}! Please sign up and enter username below.</p>
          <input type="text" name="name">
          <input type="submit">
        </form>
        <a id="sign_out" href="{{signout_link}}">Sign Out</a>
      {%else%}
        <p id="login_title">Serve Up, Speak Up</p>
        <img src="media/logo.png">
        <a id="sign_in" href="{{signin_link}}">Sign In</a>
      {%endif%}
    </div>
  </body>
</html>
