<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="/leaf.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/news.css">
    <link rel="stylesheet" href="/styles/master.css">
  </head>
  <body>



      <div id="Title">
        <h1> Serve Up, Speak Up<img id="plant" src="/media/logo.png" height=5% width=7%>
        </h1>

      </div>
     <div id="Home" class="menu">
          <h3> <a href= "/welcome"> Home </a> </h3>
       </div>
     <div id="Events" class="menu">
          <h3> <a href= "/events"> Events </a></h3>
       </div>
     <div id="News" class="menu">
          <h3> <a href= "/news">News </a> </h3>
       </div>
     <div id="Service" class="menu">
          <h3> <a href= "/service"> Volunteer </a> </h3>
       </div>
      <div id="Reps" class="menu">
          <h3><a href= "/representatives"> Representatives </a> </h3>
       </div>
       <div id="User">

         <h3><img id="left_pic" src="/media/plant.png"> Signed in as: {{username}} <img id="right_pic" src="/media/plant.png"> </h3>
         <a href="{{signout_link}}">Sign Out</a>
      </div>
      <div id="Content">
        <h1 class="title">News</h1>
        <section>
          <form name="category_form" method="get" action="/news">
            <select name="category">
              <option>Climate</option>
              <option>Economy</option>
              <option>Government</option>
              <option>Protest</option>
              <option>World</option>
            </select>
            <input type="submit" value="Submit">
        </section>
        <section>
          {% for article in news.articles %}
          <p><h1><a id="article_titles" href="{{ article.url }}" target="_blank"> {{ article.title }} </a></h1> by {{ article.author }}</p>
          <p> {{ article.publishedAt }} </p>
          <p> {{ article.description }} </p>
          <hr>
          {% endfor %}
        </section>
       </div>
      <div id="Content_left">
        </div>
      <div id="Content_right">
      </div>
      <div id="Footer"> <p>Copyright © 2018</p> <p>(▀̿Ĺ̯▀̿ ̿) Alejandro's Angels (▀̿Ĺ̯▀̿ ̿)</p> </div>


      <script src="/scripts/welcome.js"></script>

  </body>
</html>
