<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Representatives</h1>
    <form method="post" action="/representatives">
      <p>Enter location below if it does not appear:</p><br>
      <input type="text" name="location_input"></input>
      <input type="Submit"></input>
    </form>
    <p>User Location: {{user_location}}</p>
    <h1>Rep List</h1>
      {%for office in rep_data["offices"]%}
        <h2>{{office["name"]}}</h2>
          {%for index in office["officialIndices"]%}
            {%set rep = rep_data["officials"][index]%}
            <ul style="list-style-type: none;">
              {%if rep["photoUrl"] is defined%}
                <li><img src="{{rep["photoUrl"]}}" width=150></li>
              {%endif%}
              <li><strong>{{rep["name"]}} ({{rep["party"]}})</strong></li>
              <li>{{rep["address"]}}</li>
              <li>{{rep["phones"]}}</li>
              <li>{{rep["urls"]}}</li>
              {%if rep["channels"] is defined%}
                <ul style="list-style-type: none; padding-left: 0;">
                  {%for channel in rep["channels"]%}
                    <li style="display: inline;">
                    <a href="https://{{channel['type']|lower}}.com/{{channel['id']}}">{{channel['type']}}</a>
                    </li>
                  {%endfor%}
                </ul>
              {%endif%}
            </ul>
          {%endfor%}
      {%endfor%}
  </body>
</html>
