<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='shortcut icon' href='/favicon.ico'/>
    <title>Serve Up Speak Up</title>
    <link rel="stylesheet" href="/styles/welcome.css">
    <link rel="stylesheet" href="/styles/master.css">
  </head>
  <body>

<div id="Title">
      <h1>Serve Up, Speak Up</h1>
    </div>

<div id="Home" class="menu">
        <h3> <a href= "/welcome"> Home </a> </h3>
     </div>

<div id="Events" class="menu">
        <h3> <a href= "/events"> Events </a></h3>
     </div>

<div id="News" class="menu">
        <h3> <a href= "/news">News </a> </h3>

     </div>

<div id="Service" class="menu">
        <h3> <a href= "/service"> Volunteer </a> </h3>
     </div>

<div id="Reps" class="menu">
        <h3><a href= "/representatives"> Representatives </a> </h3>
     </div>

<div id="User">
      <h3> Signed in as: {{username}} </h3>
      <a href="{{signout_link}}">Sign Out</a>
     </div>

<div id="Content">
      <h2 class="title"> Welcome to Serve Up, Speak Up </h2>


      <p>Serve Up, Speak Up is a resource for people who want to become more involved in activism and social justice, but don't know how or where to start.</p>
      <p>Go to the Volunteer page to find volunteer and service organizations as well as opportunities in your area.</p>
      <p>In the Representatives page, enter your address and you'll find your local Congress representatives, their contact information,
        and their social media accounts. Along with this, there are fill-in-the-blank templates for you to use on the Representatives page if you want to
      send a letter, email, or call your representative, but don't know what to say. </p>
      <p>Check out the News page to find the latest news articles in categories like activism, politics, the environment, education, and social justice.</p>
      <p>Want to know about activism events, marches, and protests? Go to the Events page, where you'll find a calendar listing events near you once you
      enter an address. You'll also find the latest tweets from prominent activists so you can stay informed. </p>
      <p>Feel free to email the team behind Serve Up, Speak Up at serveup.speakup@gmail.com if you have any questions, comments, or concerns.</p>


     </div>

<div id="Content_left">
      </div>

<div id="Content_right">
      </div>

      <div id="Footer"> <p>Copyright © 2018</p> <p>(▀̿Ĺ̯▀̿ ̿) Alejandro's Angels (▀̿Ĺ̯▀̿ ̿)</p> </div>

  </body>
</html>
