<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/welcome.css">
    <link rel="stylesheet" href="/styles/master.css">
  </head>
  <body>

<div id="Title">
      <h1> Serve Up, Speak Up </h1>
    </div>

<div id="Home" class="menu">
        <h3> <a href= "/welcome"> Home </a> </h3>
     </div>

<div id="Events" class="menu">
        <h3> <a href= "/events"> Events </a></h3>
     </div>

<div id="News" class="menu">
        <h3> <a href= "/news">News </a> </h3>

     </div>

<div id="Service" class="menu">
        <h3> <a href= "/service"> Volunteer </a> </h3>
     </div>

<div id="Reps" class="menu">
        <h3><a href= "/representatives"> Representatives </a> </h3>
     </div>

<div id="User">
        <h3> User Info: pic/logout/username </h3>
     </div>

<div id="Content">
      <h2> Welcome! </h2>
     </div>

<div id="Content_left">
      </div>

<div id="Content_right">
      </div>

<div id="Footer"> (Footer) </div>

  </body>
</html>
