#img {
    opacity: 0.5;
  filter: alpha(opacity=50);}

#Title {
  background-color: rgb(255, 255, 128);
  grid-column: 1 / span 8;
  grid-row: 1 / span 2;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  text-shadow: 1px 1px 5px black;

}

a{
  text-decoration: none;
  color: inherit;
  text-shadow: 1px 1px 1px black;
}

#User {
  background-color: lavender;
  grid-column: 1 / span 3;
  grid-row: 3;
}

#Content{
  background-color: rgb(255, 255, 204);
  grid-column: 2 / span 6;
  grid-row: 4 / span 6;

}

#Content_left, #Content_right {
  background-image: url(https://images.pexels.com/photos/1021906/pexels-photo-1021906.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  opacity: 0.5;
  grid-row: 4 / span 4;
}

#Content_left{
  grid-column: 1;
}

#Content_right{
  grid-column: 8;
}


#Footer{
  background-color: rgb(255, 255, 128);
  grid-column: 1/ span 8;
  grid-row: 8;
}

#Events{
  background-color: yellow;
  grid-column: 8;
  grid-row: 3;
  color: white;
   background-image: url(https://images.pexels.com/photos/768897/pexels-photo-768897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

#News{
  background-color: red;
  grid-column: 7;
  grid-row: 3;
  color: white;
  background-image: url(https://images.pexels.com/photos/1083895/pexels-photo-1083895.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 150px;
}

#Reps{
  background-color: purple;
  grid-column: 6;
  grid-row: 3;
  color: white;
  background-color: white;
  background-image: url(https://images.pexels.com/photos/207518/pexels-photo-207518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 250px;

}

.menu:hover {
  opacity: 0.6;
  transition: 1s;
}

.menu{
  text-shadow: 1px 1px 5px black;
}


#Service{
  background-color: lightblue;
  grid-column: 5;
  grid-row: 3;
  color: white;
  background-image: url(https://images.pexels.com/photos/60005/forget-me-not-flower-meadow-wild-flower-60005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 150px

}

#Home{
  background-color: green;
  grid-column: 4;
  grid-row: 3;
  color: white;
  background-image: url(https://images.pexels.com/photos/580900/pexels-photo-580900.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 150px

}

div {
  font-family: Palatino Linotype;
  text-align: center;
  padding: 8px;
  border: 2px solid white;
  border-image-source:
  grid-gap: 5px;

}



body{

  background-image-opacity: 0.5;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#Home, #Service, #Reps, #News, #Events, #Content_left, #Content_right{
  background-size: cover;
  background-repeat: no-repeat;
}
