@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

#Home, #Service, #Reps, #News, #Events, #Content_left, #Content_right{
  background-size: cover;
  background-repeat: no-repeat;
}

#Home, #Service, #Reps, #News, #Events{
  font-family: 'Dancing Script', cursive;
  font-size: 20px;

}

#img {
  opacity: 0.5;
  filter: alpha(opacity=50);}

#Title {
  grid-column: 1 / span 8;
  grid-row: 1;
  color: white;
  font-size: 45px;
  text-shadow: 1px 1px 5px black;
  font-family: 'Dancing Script', bold;
  padding-top: 0px;
  padding-bottom: 20px;
}

a{
  text-decoration: none;
  color: inherit;
  text-shadow: 1px 1px 1px black;
}

#User {
  background-color: lavender;
  grid-column: 1 / span 3;
  grid-row: 2;
}

#Content{
  grid-column: 2 / span 6;
  grid-row: 3;
  overflow: none;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}



#Content_left{
  grid-column: 1;
}

#Content_right{
  grid-column: 8;
}


#Footer{
  grid-column: 1/ span 8;
  grid-row: 4;  
}

#Events{
  background-color: yellow;
  grid-column: 8;
  grid-row: 2;
  color: white;
  background-image: url(https://images.all-free-download.com/images/graphicthumb/golden_texture_hd_picture_3_170578.jpg);
  /* background-image: url(https://images.pexels.com/photos/768897/pexels-photo-768897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
}

#News{
  background-color: red;
  grid-column: 7;
  grid-row: 2;
  color: white;
  background-image: url(http://longwallpapers.com/Desktop-Wallpaper/red-texture-wallpapers-high-definition-For-Desktop-Wallpaper.jpg);
  /* background-image: url(https://images.pexels.com/photos/1083895/pexels-photo-1083895.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
}

#Reps{
  background-color: purple;
  grid-column: 6;
  grid-row: 2;
  color: white;
  background-color: white;
  background-image: url(https://image.freepik.com/free-photo/artistic-purple-watercolor-texture_1048-4639.jpg);
  /* background-image: url(https://images.pexels.com/photos/207518/pexels-photo-207518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */

}

.menu:hover {
  opacity: 0.6;
  transition: 1s;
}

.menu{
  text-shadow: 1px 1px 5px black;
}


#Service{
  background-color: lightblue;
  grid-column: 5;
  grid-row: 2;
  color: white;
  background-image: url(https://image.freepik.com/free-photo/texture-with-blue-paint_1048-5111.jpg);
  /* background-image: url(https://images.pexels.com/photos/60005/forget-me-not-flower-meadow-wild-flower-60005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */

}

#Home{
  background-color: green;
  grid-column: 4;
  grid-row: 2;
  color: white;
  background-image: url(http://www.pptback.com/uploads/green-blurry-dots-backgrounds-powerpoint.jpg);
 /* background-image: url(https://images.pexels.com/photos/580900/pexels-photo-580900.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */

}

div {
  font-family: Palatino Linotype;
  text-align: center;
  padding: 8px;
  border: 2px solid white;
  border-image-source:
  grid-gap: 5px;

}



body{
  background-image-opacity: 0.5;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 4fr 1fr;
}
