#Title {
  background-color: rgb(179, 0, 0);

}

#User {
  background-color: lavender;
}

#Content{
  background-color: rgb(255, 179, 179);
  height: 80vh;
}

#Footer{
  background-color: rgb(179, 0, 0);
}

#Content_left, #Content_right {
  background-image: url(http://longwallpapers.com/Desktop-Wallpaper/red-texture-wallpapers-high-definition-For-Desktop-Wallpaper.jpg);
  opacity: 0.5;
  grid-row: 4;
}




/* ALL SHOULD BE IN GRID ROW 4 FOR CONTENT R AND L */
/* FIGURE OUT WHAT HAPPENS TO THE HEADER OML */
