#Title {
  background-image: url("/media/bluefence.png");

  /* background-color: rgb(0, 179, 179); */
}

#Content{
  background-color: rgb(204, 255, 255);
  height: 100vh;
}

#Footer{
  background-color: rgb(0, 179, 179);
}


#Content_left, #Content_right {
  background-image: url("/media/bluepaint.png");
  /* background-image: url("/media/servicebackground.jpg"); */
  /* background-image: url(https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
  opacity: 0.5;
  grid-row: 4;
}
