#Title {
  background-color: rgb(79, 153, 0);
}

#User {
  display: grid;
  grid-template-rows: 64px 64px;
  grid-template-columns: 128px auto;
}

#User div{
  margin: 0;
  border: none;
  line-height: 0.6em;
}

#profile_pic{
  grid-row:1 / span 2;
  grid-column: 1;
}

#user_status{
  grid-row:1;
  grid-column: 2;
}

#file_upload{
  grid-row:2;
  grid-column: 2;
}

#Content{
  background-color: rgb(206, 255, 153);
  height: 1000px;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

#Footer{
  background-color: rgb(79, 153, 0);
}

#Content_left, #Content_right {
  background-image: url(http://www.pptback.com/uploads/green-blurry-dots-backgrounds-powerpoint.jpg);
  opacity: 0.6;
  grid-row: 4;
}
