#Title {
  background-image: url("/media/greenfence.png");

  /* background-color: rgb(79, 153, 0); */
}

#User {
  background-color: lavender;
}

#Content{
  background-color: rgb(206, 255, 153);
  height: 1130px;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

#Footer{
  background-color: rgb(79, 153, 0);
}

#Content_left, #Content_right {
  background-image: url("/media/greenpaint.png");
  opacity: 0.6;
  grid-row: 4;
}
