#Title {
  background-color: rgb(79, 153, 0);
}

#Content{
  background-color: rgb(206, 255, 153);
}

#Footer{
  background-color: rgb(79, 153, 0);
}

#Content_left, #Content_right {
  background-image: url(http://www.pptback.com/uploads/green-blurry-dots-backgrounds-powerpoint.jpg);
  opacity: 0.6;
  grid-row: 3;
}
